@font-face {
    font-family: Netflix;
    src: url(../../assets/fonts/NetflixSansRegular.ttf);
}

@font-face {
    font-family: NetflixBold;
    src: url(../../assets/fonts/NetflixSansBold.ttf);
}

.wrapper-box {
    width: 40rem;
    margin-left: 3.75rem;
    margin-top: 20rem;
}

.logo {
    width: 20rem;
    margin-left: 05%;
}

.text {
    font-family: Netflix;
    color: #fff;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
}

.watch-button {
    border: none;
    display: inline-flex;
    align-items: center;
    padding: .7rem 2rem;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-family: NetflixBold;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-right: .9375rem;
}

.detail-button {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    padding: .7rem 2rem;
    text-decoration: none;
    color: #fff;
    font-family: NetflixBold;
    font-size: 1.2rem;
    border-radius: 4px;
}

.icon-arrow-right {
    padding: 0;
    height: 1.375rem;
    margin-right: 1.1rem;
}

.icon-detail {
    padding: 0;
    height: 2rem;
    margin-right: 1rem;
}

.watch-button:hover {
    background-color: rgba(255, 255, 255, 0.753)
}

.detail-button:hover {
    background-color: rgba(255, 255, 255, 0.205);

}