@font-face {
    font-family: Netflix;
    src: url(../../assets/fonts/NetflixSansThin.ttf);
}

.lista {
    text-decoration: none;
    list-style: none;
    display: flex;
}

ul a li .item #home {
    font-weight: bold;
}

.item {
    font-family: Netflix;
    margin-right: 1.2rem;
    font-size: 0.81rem;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

.item:hover {
    color: #b9b8b8;
}
